body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  width: 25%;
  margin: 0 auto;
  border-radius: 1rem;
  background: #f3f4f6;
  padding: 1rem;
}

h1 {
  margin: 0;
}

p {
  margin: 0 0 0.3rem 0;
  color: #f87171;
  flex-basis: 100%;
}

input {
  margin: 0 0 0 0.4rem;
  border: 2px solid #000;
  border-radius: 0.4rem;
  padding: 0.3rem;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
}

div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

button {
  background: #d1d5db;
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem;
  font-size: 1rem;
  width: 100%;
}

.game {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  align-self: flex-end;
}

.board {
  display: grid;
  min-width: 900px;
  max-width: 900px;
  min-height: 700px;
  max-height: 700px;
  margin: 0;
  padding: 0;
  align-items: stretch;
  grid-auto-rows: minmax(0, 1fr);
}

.row {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: stretch;
  align-items: stretch;
  grid-auto-columns: minmax(0, 1fr);
}

.tile {
  margin: 1px;
  padding: 0;
  display: grid;
  align-items: stretch;
}

.letter-row {
  margin: 0;
  padding: 0;
}

.letter {
  display: flex;
  min-width: 50%;
  max-width: 50%;
  min-height: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #785F43;
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-size: 26px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.filler-tile {
  margin: 1px;
  padding: 0;
}

.letterClicked {
  color: #fff;
  display: inline-block;
  background-color: #2b2218;
}

.letterSelected {
  color: #fff;
  display: inline-block;
  background-color: grey;
}

.letterUsed {
  color: #fff;
  display: inline-block;
  background-color: #4b3c2a;
}

.user-area {
  display: flex;
  flex: 2;
  flex-direction: column;
  min-height: 700px;
  max-height: 700px;
  margin-left: 50px;
  padding: 0;
}

.extra-tiles-area {
  display: flex;
  flex: 1;
  min-height: 200px;
  max-height: 200px;
}

.extra-tile-container {
  display: grid;
  align-items: stretch;
  align-items: stretch;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
