* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

div {
  display: flex;
  align-items: center;
}

.app {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.spinner {
  color: #fff;
  height: 36px;
  margin-top: 7px;
}

.authentication-button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #654321;
  font-size: 22px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-transform: uppercase;
}

.authentication-field {
  display: block;
  width: 350px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.authentication-error {
  color: #cc0000;
  font-size: 22px;
  height: 60px;
  margin: 0;
  text-align: center;
}

.authentication-screen {
  background-image: url("/images/wordspot.jpg");
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  filter: blur(2px);
}

.authentication-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 10%;
  padding: 5px;
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(190, 190, 190, 0.44);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
}

.authErrorContent {
  height: 370px;
}

.authentication-title {
  width: 100%;
  text-align: center;
  color: #654321;
  font-size: 20px;
}

.authentication-field input {
  font-size: 26;
  font-family: inherit;
  width: 100%;
  height: 50px;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 22px;
  color: #000;
}

.authentication-cancel-button {
  width: 100%;
  background: none;
	color: #fff;
  font-size: 20px;
	border: none;
	padding: 0;
	cursor: pointer;
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 10vh;
  max-height: 10vh;
}

.header-logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
  height: 9vh;
}

.logout-button {
  cursor: pointer;
  position: absolute;
  top: 1vh;
  right: 1vw;
  height: 8vh;
  width: 10vw;
  color: #fff;
  font-size: 22px;
  background-color: #654321;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-transform: uppercase;
}

.content {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: 0;
  padding: 2vh 1vw;
}

.dashboard {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: 0;
}

.dashboard-user-section {
  justify-content: center;
  width: 40vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.dashboard-game-section {
  width: 60vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 40vw;
  display: inline-block;
}

.dashboard-section-title {
  display: block;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.start-game-button {
  display: block;
  cursor: pointer;
  height: 8vh;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  height: 48; 
  width: 30vw;
  background-color: #654321;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-transform: uppercase;
  margin: 20px auto;
}

.game-card {
  width: 260px;
  height: 220px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 2vw;
  color: #fff;
  background-color: #3b2f21;
}

.game-summary {
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.game-summary-item {
  margin: 0;
  height: 50px;
  padding-top: 10px;
}

.play-game-button {
  background-color: #654321;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  height: 50px; 
  width: 200px;
  margin-left: 30px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}

.board {
  display: grid;
  height: 88vh;
  width: 66vw;
  align-items: stretch;
  grid-auto-rows: minmax(0, 1fr);
}

.row {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: stretch;
  align-items: stretch;
  grid-auto-columns: minmax(0, 1fr);
}

.tile {
  margin: 1px;
  padding: 0;
  display: grid;
  align-items: stretch;
}

.letter-row {
  margin: 0;
  padding: 0;
}

.letter {
  display: flex;
  min-width: 50%;
  max-width: 50%;
  min-height: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #654321;
  color: #fff;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 26px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.filler-tile {
  margin: 1px;
  padding: 0;
}

.letterClicked {
  color: #fff;
  display: inline-block;
  background-color: #2b2218;
}

.letterSelected {
  color: #fff;
  display: inline-block;
  background-color: grey;
}

.letterUsed {
  color: #fff;
  display: inline-block;
  background-color: #4b3c2a;
}

.user-area {
  display: flex;
  flex: 2;
  flex-direction: column;
  height: 90vh;
  padding: 0;
  padding-top: 15vh;
}

.user-data {
  display: block;
  width: 100%;
}

.user-turn-section {
  display: block;
  text-align: center;
  font-size: 30px;
}

.user-token-section {
  display: block;
  margin: 5vh 0px;
}

.user-tokens {
  display: inline-block;
  width: 50%;
  text-align: left;
  font-size: 30px;
}

.user-tokens-name {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.user-tokens-number {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.end-turn-section {
  display: block;
}

.end-turn-button {
  display: block;
  cursor: pointer;
  height: 8vh;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  height: 48; 
  width: 30vw;
  background-color: #654321;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-transform: uppercase;
  margin: 20px auto;
}

.extra-tiles-area {
  display: block;
  width: 100%;
  height: 100%;
  margin: 5vh 0;
}

.extra-tile-container {
  display: grid;
  align-items: stretch;
  align-items: stretch;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
